.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  
}

#quote-box {
  background-color: white;
  margin: 250px;
  border-radius: .2rem;
  width: 35%;

}

#text {
  font-family:'VT323', 'Darker Grotesque', sans-serif;
  font-size: 2rem;
}

#author {
  font-family: 'VT323', monospace;
  font-size: 1rem;
  height: 2rem;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
} 


#icons div a {
  width: 3rem;
  height: 3rem;
}

#icons div a i{
  color: white;
}
